@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "_Layout2";
}

<header class="text-center">
    <p class="text-center" style="color:red;font-size:35px;">Are You Sure To Log Out From This Website?</p>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline d-flex justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class=" btn btn-warning p-1" style="margin-top:1%;font-size:20px;">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>

