@model Library_DEPI.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Author Details</h1>

<div class="container mt-4" style="width:50%;">
    <div class="card shadow">
        <div class="card-body">
            <h4 class="card-title">Author Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
            <div class="d-flex justify-content-between mt-4">
                <a asp-action="Index" class="btn btn-secondary" style="font-size:1.2rem">Back to List</a>
                @if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                {
                     <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info btn-lg">Edit</a>  
                }
            </div>
        </div>
    </div>
</div>
