@model Library_DEPI.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create Book</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <label asp-for="Title" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Description" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row form-check">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="AvailabilityStatus" /> Availability Status  @* @Html.DisplayNameFor(model => model.AvailabilityStatus) *@
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="PublishedDate" class="control-label col-md-3">Published Date</label>
                        <div class="col-md-9">
                            <input asp-for="PublishedDate" class="form-control" />
                            <span asp-validation-for="PublishedDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Image" class="control-label col-md-3"></label>
                        <div class="col-md-6">
                            <input type="file" onchange="load(event)" asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <img id="image" height="100" width="100" style="display:none;" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="AuthorID" class="control-label col-md-3">Author</label>
                        <div class="col-md-9">
                            <select asp-for="AuthorID" class="form-control" asp-items="@(new SelectList(ViewBag.Authors, "Id", "Name"))"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="GenreID" class="control-label col-md-3">Genre</label>
                        <div class="col-md-9">
                            <select asp-for="GenreID" class="form-control" asp-items="@(new SelectList(ViewBag.Genres, "Id", "Name"))"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <input type="submit" value="Create" class="btn btn-primary" style="font-size:20px;" />
                        </div>

                        <div>
                            <a asp-action="Index" class="btn btn-secondary " style="float:right;">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var load = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var image = document.getElementById("image");
            image.src = reader.result;
            image.style.display = "block"; // Show the image element
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

<style>
    .card {
        border-radius: 15px;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }
</style>
